In [52]:
import pandas as pd
import numpy as np

In [53]:
dataset=pd.read_csv("user5.csv", sep=",")

In [54]:
dataset

,user_id,hidden_mov,base_mov,mov,skip,change,reward,satisfaction_score
0,1,[ 0.31990512 0.31990512 0.31990512 0.319905...,4,0,0,0,-0.500000,0.0
1,1,[-1.3130289 -1.3130289 -1.3130289 -1.313028...,4,0,0,0,-4.862021,0.0
2,1,[ 1.7308157 1.7308157 1.7308157 1.730815...,0,93,0,1,-2.110289,0.0
3,1,[ 1.7308157 1.7308157 1.7308157 1.730815...,2,82,0,0,-2.621117,0.0
4,1,[ 1.7308157 1.7308157 1.7308157 1.730815...,7,14,0,0,4.340000,0.7
...,...,...,...,...,...,...,...,...
717,1,[ 1.7308157 1.7308157 1.7308157 1.730815...,3,34,0,1,-1.880937,0.0
718,1,[ 1.7308157 1.7308157 1.7308157 1.730815...,2,82,0,0,-2.621117,0.0
719,1,[ 1.7308157 1.7308157 1.7308157 1.730815...,8,47,0,0,3.060000,0.9
720,1,[ 1.7308157 1.7308157 1.7308157 1.730815...,4,6,0,0,6.960000,0.9
721,1,[ 1.7308157 1.7308157 1.7308157 1.730815...,7,16,0,0,3.500000,0.5

In [55]:
actions=['Reverse Plank', 'Shoulder Bridge', 'Incline Reverse Plank', 'Declined Shoulder Bridge', 'Single Leg Bridge', 'Declined Single Leg Bridge', 'Table Bridge', 'Inclined Table Bridge', 'Head Bridge', 'Bridge / Wheel', 'Declined Bridge / Wheel', 'Burpee Walk', 'Burpee', 'Squat Burpee', 'Full Burpee', 'Push-Up Jack Burpee', 'Spiderman Burpee', 'Pike Push-Up Burpee', 'Mountain-Climber Burpee', 'Side-Plank Burpee', 'Tuck-Jump Burpee', 'Hollow Hold', 'Heel Taps', 'Crunch', 'Side Crunch', 'Scissor Kick', 'Beetle', 'Bicycle Crunch', 'High Crunch', 'Reverse Crunch', 'Leg Drops', 'Seated Pike Leg Lift', 'Intermediate Seated Pike Leg Lift', 'Upper Body Jumping Jacks', 'Stepping Jumping Jacks', 'Jumping Jacks', 'Seal Jumping Jacks', 'Squat Jumping Jacks', 'Crossover Jumping Jacks', 'Foot Sup L-Sit', 'One Leg L-Sit', 'Tuck L-Sit', 'L-Sit', 'Reverse Lunge', 'Lunge', 'Crossover Lunge', 'Walking lunge', 'Lunge with Leg Raise', 'Tick-tock Lunge', 'Split Lunge Jump', 'Bulgarian Split Lunge', 'Mountain Climber Switch', 'Mountain Climber', 'Running Mountain Climber', 'Spider Mountain Climber', 'Side to side Mountain Climber', 'Diagonal Mountain Climber', 'Semicircle Mountain Climber', 'Jumping Mountain Climber', 'Low Jumping Mountain Climber', 'Side Plank on Knee', 'Knee Plank', 'Incline Knee Plank', 'Decline Knee Plank', 'Side Plank', 'Plank', 'Knee long lever plank', 'Long Lever Plank', 'Plank Jack', 'Plank with Tow Touch', 'Inchworm Plank', 'Up and Down Plank', 'Straddle One Arm Plank', 'One Arm Plank', 'One Arm One Leg Plank', 'Incline One arm one leg plank', 'Decline One arm one leg plank', 'Negative Knee Push Up', 'Knee Push Up', 'Diamond Knee Push Up', 'Inclined Push Up', 'Push Up', 'Declined Push Up', 'Diamond Push Up', 'Pseudo Planche Push Up', 'Negative Pike Push up', 'Pike Push Up', 'Declined Pike Push Up', 'Archer Push Up', 'Assisted Squat', 'Squat', 'Parallel Squat', 'Power Squat Knee Tuck', 'Cossack Squat', 'Split Squat', 'Bulgarian Split Squat', 'Partial Pistol Squat', 'Pistol Squat', 'Beginner Shrimp Squat', 'Int Shrimp Squat']

In [56]:
ind=[]
for i in range(0,100):
    ind.append(i)

In [57]:
action_dict=dict(zip(ind,actions))

In [58]:
dataset['mov']=dataset['mov'].map(action_dict)

In [59]:
dataset

,user_id,hidden_mov,base_mov,mov,skip,change,reward,satisfaction_score
0,1,[ 0.31990512 0.31990512 0.31990512 0.319905...,4,Reverse Plank,0,0,-0.500000,0.0
1,1,[-1.3130289 -1.3130289 -1.3130289 -1.313028...,4,Reverse Plank,0,0,-4.862021,0.0
2,1,[ 1.7308157 1.7308157 1.7308157 1.730815...,0,Cossack Squat,0,1,-2.110289,0.0
3,1,[ 1.7308157 1.7308157 1.7308157 1.730815...,2,Declined Push Up,0,0,-2.621117,0.0
4,1,[ 1.7308157 1.7308157 1.7308157 1.730815...,7,Full Burpee,0,0,4.340000,0.7
...,...,...,...,...,...,...,...,...
717,1,[ 1.7308157 1.7308157 1.7308157 1.730815...,3,Stepping Jumping Jacks,0,1,-1.880937,0.0
718,1,[ 1.7308157 1.7308157 1.7308157 1.730815...,2,Declined Push Up,0,0,-2.621117,0.0
719,1,[ 1.7308157 1.7308157 1.7308157 1.730815...,8,Lunge with Leg Raise,0,0,3.060000,0.9
720,1,[ 1.7308157 1.7308157 1.7308157 1.730815...,4,Table Bridge,0,0,6.960000,0.9
721,1,[ 1.7308157 1.7308157 1.7308157 1.730815...,7,Spiderman Burpee,0,0,3.500000,0.5

In [60]:
for index,rows in dataset.iterrows():
    k=dataset['hidden_mov'][index].strip('\n')
    k=k.strip('[')
    k=k.strip(']')
    list_1 = k.split()
    dataset['hidden_mov'][index]=list_1

/tmp/ipykernel_2446424/4039947568.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['hidden_mov'][index]=list_1

In [61]:
dataset

,user_id,hidden_mov,base_mov,mov,skip,change,reward,satisfaction_score
0,1,"[0.31990512, 0.31990512, 0.31990512, 0.3199051...",4,Reverse Plank,0,0,-0.500000,0.0
1,1,"[-1.3130289, -1.3130289, -1.3130289, -1.313028...",4,Reverse Plank,0,0,-4.862021,0.0
2,1,"[1.7308157, 1.7308157, 1.7308157, 1.7308157, 1...",0,Cossack Squat,0,1,-2.110289,0.0
3,1,"[1.7308157, 1.7308157, 1.7308157, 1.7308157, 1...",2,Declined Push Up,0,0,-2.621117,0.0
4,1,"[1.7308157, 1.7308157, 1.7308157, 1.7308157, 1...",7,Full Burpee,0,0,4.340000,0.7
...,...,...,...,...,...,...,...,...
717,1,"[1.7308157, 1.7308157, 1.7308157, 1.7308157, 1...",3,Stepping Jumping Jacks,0,1,-1.880937,0.0
718,1,"[1.7308157, 1.7308157, 1.7308157, 1.7308157, 1...",2,Declined Push Up,0,0,-2.621117,0.0
719,1,"[1.7308157, 1.7308157, 1.7308157, 1.7308157, 1...",8,Lunge with Leg Raise,0,0,3.060000,0.9
720,1,"[1.7308157, 1.7308157, 1.7308157, 1.7308157, 1...",4,Table Bridge,0,0,6.960000,0.9
721,1,"[1.7308157, 1.7308157, 1.7308157, 1.7308157, 1...",7,Spiderman Burpee,0,0,3.500000,0.5

In [62]:
base_action=['Squat', 'Plank', 'Push Up', 'Jumping Jacks',  'Bridge / Wheel', 'L-Sit', 'Mountain Climber', 'Burpee', 'Lunge', 'Crunch']

In [63]:
ind1=[]
for i in range(0,10):
    ind1.append(i)

In [64]:
base_action_dict=dict(zip(ind1,base_action))

In [65]:
dataset['base_mov']=dataset['base_mov'].map(base_action_dict)

In [66]:
dataset

,user_id,hidden_mov,base_mov,mov,skip,change,reward,satisfaction_score
0,1,"[0.31990512, 0.31990512, 0.31990512, 0.3199051...",Bridge / Wheel,Reverse Plank,0,0,-0.500000,0.0
1,1,"[-1.3130289, -1.3130289, -1.3130289, -1.313028...",Bridge / Wheel,Reverse Plank,0,0,-4.862021,0.0
2,1,"[1.7308157, 1.7308157, 1.7308157, 1.7308157, 1...",Squat,Cossack Squat,0,1,-2.110289,0.0
3,1,"[1.7308157, 1.7308157, 1.7308157, 1.7308157, 1...",Push Up,Declined Push Up,0,0,-2.621117,0.0
4,1,"[1.7308157, 1.7308157, 1.7308157, 1.7308157, 1...",Burpee,Full Burpee,0,0,4.340000,0.7
...,...,...,...,...,...,...,...,...
717,1,"[1.7308157, 1.7308157, 1.7308157, 1.7308157, 1...",Jumping Jacks,Stepping Jumping Jacks,0,1,-1.880937,0.0
718,1,"[1.7308157, 1.7308157, 1.7308157, 1.7308157, 1...",Push Up,Declined Push Up,0,0,-2.621117,0.0
719,1,"[1.7308157, 1.7308157, 1.7308157, 1.7308157, 1...",Lunge,Lunge with Leg Raise,0,0,3.060000,0.9
720,1,"[1.7308157, 1.7308157, 1.7308157, 1.7308157, 1...",Bridge / Wheel,Table Bridge,0,0,6.960000,0.9
721,1,"[1.7308157, 1.7308157, 1.7308157, 1.7308157, 1...",Burpee,Spiderman Burpee,0,0,3.500000,0.5

In [67]:
dataset

,user_id,hidden_mov,base_mov,mov,skip,change,reward,satisfaction_score
0,1,"[0.31990512, 0.31990512, 0.31990512, 0.3199051...",Bridge / Wheel,Reverse Plank,0,0,-0.500000,0.0
1,1,"[-1.3130289, -1.3130289, -1.3130289, -1.313028...",Bridge / Wheel,Reverse Plank,0,0,-4.862021,0.0
2,1,"[1.7308157, 1.7308157, 1.7308157, 1.7308157, 1...",Squat,Cossack Squat,0,1,-2.110289,0.0
3,1,"[1.7308157, 1.7308157, 1.7308157, 1.7308157, 1...",Push Up,Declined Push Up,0,0,-2.621117,0.0
4,1,"[1.7308157, 1.7308157, 1.7308157, 1.7308157, 1...",Burpee,Full Burpee,0,0,4.340000,0.7
...,...,...,...,...,...,...,...,...
717,1,"[1.7308157, 1.7308157, 1.7308157, 1.7308157, 1...",Jumping Jacks,Stepping Jumping Jacks,0,1,-1.880937,0.0
718,1,"[1.7308157, 1.7308157, 1.7308157, 1.7308157, 1...",Push Up,Declined Push Up,0,0,-2.621117,0.0
719,1,"[1.7308157, 1.7308157, 1.7308157, 1.7308157, 1...",Lunge,Lunge with Leg Raise,0,0,3.060000,0.9
720,1,"[1.7308157, 1.7308157, 1.7308157, 1.7308157, 1...",Bridge / Wheel,Table Bridge,0,0,6.960000,0.9
721,1,"[1.7308157, 1.7308157, 1.7308157, 1.7308157, 1...",Burpee,Spiderman Burpee,0,0,3.500000,0.5

In [68]:
for index,rows in dataset.iterrows():
    for j in range(100):
        if(float(dataset.hidden_mov[index][j])>0.5):
            dataset.hidden_mov[index][j]=1
        if((float(dataset.hidden_mov[index][j])> -0.5) & (float(dataset.hidden_mov[index][j])<0.5)):
            dataset.hidden_mov[index][j]=0
        if(float(dataset.hidden_mov[index][j])< -0.5):
            dataset.hidden_mov[index][j]=-1

In [69]:
dataset

,user_id,hidden_mov,base_mov,mov,skip,change,reward,satisfaction_score
0,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, -1, -1, ...",Bridge / Wheel,Reverse Plank,0,0,-0.500000,0.0
1,1,"[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 0...",Bridge / Wheel,Reverse Plank,0,0,-4.862021,0.0
2,1,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...",Squat,Cossack Squat,0,1,-2.110289,0.0
3,1,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...",Push Up,Declined Push Up,0,0,-2.621117,0.0
4,1,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...",Burpee,Full Burpee,0,0,4.340000,0.7
...,...,...,...,...,...,...,...,...
717,1,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...",Jumping Jacks,Stepping Jumping Jacks,0,1,-1.880937,0.0
718,1,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...",Push Up,Declined Push Up,0,0,-2.621117,0.0
719,1,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...",Lunge,Lunge with Leg Raise,0,0,3.060000,0.9
720,1,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...",Bridge / Wheel,Table Bridge,0,0,6.960000,0.9
721,1,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...",Burpee,Spiderman Burpee,0,0,3.500000,0.5

In [71]:
from pathlib import Path
import os

In [75]:
DATASET_NAME="Fitapp"
_DATA_PATH = Path(Path.home() / os.environ.get("DATA_PATH"))
_DATASET_PATH = _DATA_PATH / DATASET_NAME
dataset.to_feather(_DATASET_PATH)

In [79]:

save_path = _DATASET_PATH 
load_path = save_path 
recs = pd.read_feather(load_path)

In [80]:
recs

,user_id,hidden_mov,base_mov,mov,skip,change,reward,satisfaction_score
0,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, -1, -1, ...",Bridge / Wheel,Reverse Plank,0,0,-0.500000,0.0
1,1,"[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 0...",Bridge / Wheel,Reverse Plank,0,0,-4.862021,0.0
2,1,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...",Squat,Cossack Squat,0,1,-2.110289,0.0
3,1,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...",Push Up,Declined Push Up,0,0,-2.621117,0.0
4,1,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...",Burpee,Full Burpee,0,0,4.340000,0.7
...,...,...,...,...,...,...,...,...
717,1,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...",Jumping Jacks,Stepping Jumping Jacks,0,1,-1.880937,0.0
718,1,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...",Push Up,Declined Push Up,0,0,-2.621117,0.0
719,1,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...",Lunge,Lunge with Leg Raise,0,0,3.060000,0.9
720,1,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...",Bridge / Wheel,Table Bridge,0,0,6.960000,0.9
721,1,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...",Burpee,Spiderman Burpee,0,0,3.500000,0.5

In [2]:
from dataset_reader import DataReader
dr=DataReader()
recs=dr.load_dataset()

In [3]:
from dataset_reader import DataReader
dr=DataReader()
recs=dr.create_dataset()

/raid/home/aayush/git/fitapp_analysis/fitapp_aayush/dataset_reader.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['hidden_mov'][index]=list_1

saved dataset

In [2]:
from dataset_reader import DataReader
dr=DataReader()
recs=dr.movements()

AttributeError: 'DataReader' object has no attribute 'actions'

In [3]:
recs

,user_id,hidden_mov,base_mov,mov,skip,change,reward,satisfaction_score
0,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, -1, -1, ...",Bridge / Wheel,Reverse Plank,0,0,-0.500000,0.0
1,1,"[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 0...",Bridge / Wheel,Reverse Plank,0,0,-4.862021,0.0
2,1,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...",Squat,Cossack Squat,0,1,-2.110289,0.0
3,1,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...",Push Up,Declined Push Up,0,0,-2.621117,0.0
4,1,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...",Burpee,Full Burpee,0,0,4.340000,0.7
...,...,...,...,...,...,...,...,...
717,1,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...",Jumping Jacks,Stepping Jumping Jacks,0,1,-1.880937,0.0
718,1,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...",Push Up,Declined Push Up,0,0,-2.621117,0.0
719,1,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...",Lunge,Lunge with Leg Raise,0,0,3.060000,0.9
720,1,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...",Bridge / Wheel,Table Bridge,0,0,6.960000,0.9
721,1,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...",Burpee,Spiderman Burpee,0,0,3.500000,0.5